body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center-align the entire content */
    margin: 0;
    padding: 0;
}

.internship-details {
    max-width: 800px;
    margin: 20px auto; /* Center-align the details container */
    text-align: left; /* Left-align text within the container */
    padding: 20px;
}

.internship-title {
    background-color: rgb(255, 0, 251);
    border: 0;
    font-size: 24px;
    font-weight: bold;
}

.internship-details h2 {
    font-weight: bold; /* Make headings bold */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    /* Align the footer text to the center */
}

.footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

.footer img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 10px;
}